ion-content {
  --background: white;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  color: black;
}
ion-avatar{
  height: 110px;
  width: 90%;
}
ion-avatar span{
  font-size: 13px;
}
ion-avatar img{
  width: 90px;
  height: 90px;
}
.square-avatar{
  --border-radius: 0;
}
ion-slides {
  background-color: white;
  color: #000;
}
.swiper-slide {
  display: block;
  margin-bottom: 64px;
  background-color: white;
}
